<form method="POST">
    Source:<br>
    <input type="text" name="source"><br>
    Destination:<br>
    <input type="text" name="destination"><br>
    Departure Day:<br>
    <input type="text" name="departureDay"><br>
    Departure Hour:<br>
    <input type="text" name="departureHour"><br>
    Duration:<br>
    <input type="text" name="duration"><br>
    Number Of Seats:<br>
    <input type="text" name="seats"><br>
    Flight ID:<br>
    <input type="text" name="id"><br>
    <input type="submit" value="Submit">
</form> 